PORT=3000
GOOGLE_CLIENT_ID='YOUR-CLIENT-ID',
GOOGLE_CLIENT_SECRET= 'YOUR-CLIENT-SECRET'
GOOGLE_CALLBACK_URL= http://localhost:3000/api/auth/google/callback
SESSION_SECRET='another-random-string-for-session'